.encrypt-option-container button {
   border: 1px solid black;
   margin: 0 20px;
}

#method-descriptions {
  text-align: left;
}

.method-description {
  margin: 10px 0;
}

#method-direction {
  font-weight: bold;
  text-decoration: underline;
}

.method-title {
  font-weight: bold;
  font-size: 1.3em;
}

.selection-btn {
  padding: 5px 25px;
  background-color: lawngreen;
  font-weight: bold;
  border-radius: 10px;
}

.selection-btn:hover {
  background-color: blue;
  color: white;
  border-color: #222;
}


/* Smartphones & Tablet (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  .encryption-buttons {
    display: flex;
    flex-direction: column;
  }

  button.selection-btn {
    margin: 10px;
    font-size: 14px;
  }
}
